@import "./../../../Common/styles/appStyles.scss";

//-------------
//Ant design cart styles redefinition
// & item-cart styles in general
//-------------
.itemCardWrapper {

    
    .ant-card-body {
        padding: 15px 24px !important;
    }

    .ant-card-meta-detail {
        
        div:not(:last-child){
            margin-bottom: 4px;
        }
    }

    .ant-card-meta-title {
        text-align: center;
    }

    .ant-card-meta-description {
        text-align: center;
        line-height: 1.2em;
    }

    display: flex;
    justify-content: center;
    font-family: $mainFontFamily !important;
}