
BrandClothesShopAPI/BrandClothesShopAPI/bin/Debug/netcoreapp3.1/BrandClothesShopAPI.dll
.vs/slnx.sqlite
BrandClothesShopAPI/.vs/BrandClothesShopAPI/v16/.suo
BrandClothesShopAPI/BrandClothesShopAPI/bin/Debug/netcoreapp3.1/BrandClothesShopAPI.dll
BrandClothesShopAPI/BrandClothesShopAPI/bin/Debug/netcoreapp3.1/BrandClothesShopAPI.pdb
BrandClothesShopAPI/BrandClothesShopAPI/obj/Debug/netcoreapp3.1/BrandClothesShopAPI.csprojAssemblyReference.cache
BrandClothesShopAPI/BrandClothesShopAPI/obj/Debug/netcoreapp3.1/BrandClothesShopAPI.dll
BrandClothesShopAPI/BrandClothesShopAPI/obj/Debug/netcoreapp3.1/BrandClothesShopAPI.pdb
BrandClothesShopAPI/.vs/BrandClothesShopAPI/v16/.suo
.vs/BrandClothesShop/v16/.suo
.vs/BrandClothesShop/v16/.suo
*.sqlite
BrandClothesShopAPI/.vs/BrandClothesShopAPI/v16/.suo
BrandClothesShopAPI/BrandClothesShopAPI/bin/Debug/netcoreapp3.1/BrandClothesShopAPI.dll
BrandClothesShopAPI/BrandClothesShopAPI/bin/Debug/netcoreapp3.1/BrandClothesShopAPI.pdb
BrandClothesShopAPI/BrandClothesShopAPI/bin/Debug/netcoreapp3.1/Core.dll
BrandClothesShopAPI/BrandClothesShopAPI/bin/Debug/netcoreapp3.1/Core.pdb
BrandClothesShopAPI/BrandClothesShopAPI/bin/Debug/netcoreapp3.1/DataStore.dll
BrandClothesShopAPI/BrandClothesShopAPI/bin/Debug/netcoreapp3.1/DataStore.pdb
BrandClothesShopAPI/BrandClothesShopAPI/obj/Debug/netcoreapp3.1/BrandClothesShopAPI.csprojAssemblyReference.cache
BrandClothesShopAPI/BrandClothesShopAPI/obj/Debug/netcoreapp3.1/BrandClothesShopAPI.dll
BrandClothesShopAPI/BrandClothesShopAPI/obj/Debug/netcoreapp3.1/BrandClothesShopAPI.pdb
*.pdb
BrandClothesShopAPI/DataStore/bin/Debug/netcoreapp3.1/Core.dll
*.pdb
*.cache
