
BrandClothesShopAPI/BrandClothesShopAPI/bin/Debug/netcoreapp3.1/BrandClothesShopAPI.dll
.vs/slnx.sqlite
BrandClothesShopAPI/.vs/BrandClothesShopAPI/v16/.suo
BrandClothesShopAPI/BrandClothesShopAPI/bin/Debug/netcoreapp3.1/BrandClothesShopAPI.dll
BrandClothesShopAPI/BrandClothesShopAPI/bin/Debug/netcoreapp3.1/BrandClothesShopAPI.pdb
BrandClothesShopAPI/BrandClothesShopAPI/obj/Debug/netcoreapp3.1/BrandClothesShopAPI.csprojAssemblyReference.cache
BrandClothesShopAPI/BrandClothesShopAPI/obj/Debug/netcoreapp3.1/BrandClothesShopAPI.dll
BrandClothesShopAPI/BrandClothesShopAPI/obj/Debug/netcoreapp3.1/BrandClothesShopAPI.pdb
BrandClothesShopAPI/.vs/BrandClothesShopAPI/v16/.suo
