
.mainContainer {
  display: flex;
  margin: 20px 0;
}

.notificationContainer {
  display: flex;

  //ERROR case
  .errorBlock{
    display: flex;
    align-items: center;

    .errorImgHolder{
      height: 50px;
      width: 55px;
      display: flex;
    }

    .errorHolder{
      margin-left: 5em;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  //SUCCESS case
  .textBlock {
    display: inline-block;
    margin-left: 1em;

    .notificationDescription {
      display: flex;
      margin-left: .4em;
      flex-direction: column;

      .size {
        display: inline-block;
      }
    }
  }

  .photoContainer {
    width: 100px;
    height: 120px;

    img {
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 100%;
    }
  }
}

.mainTypography {
  margin-left: 25px;

  .title {
    margin-bottom: .3em;
  }

  .brandName {
    margin-bottom: 15px;
    display: block;
    font-size: 1.5em;
  }

  .selectSizeInput {
    width: 100px;
  }

  .descriptionText {
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    font-size: 1.5em;
  }

  .noDescriptionText {
    font-size: 1.2em;
  }

  .price {
    opacity: .5;
    margin-top: 10px;
    display: block;
    font-size: 2em;
  }

  .orderModalText {
    font-size: 2em;
  }
}