@import "./../../Common/styles/appStyles.scss";
@import "./mixins.scss";


//-------------
//Antd menu styles redefinition
//-------------

.navMenuWrapperDark {
    @include navMenu($commonDarkTextColor, rgba($color: $commonDarkTextColor, $alpha: .65));
}

.navMenuWrapperLight {
    @include navMenu(white, $commonLightTextColor);
}

.loginItem {
    margin-top: 2vh !important;
}

.helloItem {
    margin-top: 2vh !important;
    .username {
        color: lightcoral !important;
        font-weight: 700;
    }
}