//-------------
//showcaseWrapper styles
//-------------
.showcaseWrapper {
    widows: inherit;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 50px 10px;

    @media (max-width: 720px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}